<section>

  <main>
    <div class="container h-100">
      <div class="row row-titulo justify-content-center align-items-center h-100">
        <!-- Form -->
        <div class="col-md-12">
          <div class="row h-100 align-items-end row-titulo">
            <div class="col-md-12">
              <h1 class="titulo">Ingrese la informacion</h1>
            </div>
          </div>
        </div>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <div class="col-md-10 elements">
            <div class="row align-items-center">
              
                <div class="col-md-6">
                

                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="nombre_comercio" id="nombre_comercio" formControlName="nombre_comercio"
                    placeholder="Nombre Comercio" required>
                    <div *ngIf="formGroup.get('nombre_comercio').hasError('required') && formGroup.get('nombre_comercio').touched"
                    class="error">
                      *
                    </div>
                    <div
                    class="error"
                    *ngIf="formGroup.get('nombre_comercio').hasError('pattern') && formGroup.get('nombre_comercio').touched">
                      Letras
                    </div>
                  </div>

                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="nit" id="nit" formControlName="nit"
                    placeholder="NIT" required>
                    <div *ngIf="formGroup.get('nit').hasError('required') && formGroup.get('nit').touched"
                    class="error">
                      *
                    </div>
                    <div
                    class="error"
                    *ngIf="formGroup.get('nit').hasError('pattern') && formGroup.get('nit').touched">
                      Numeros
                    </div>
                  </div>

                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="nombre_contacto" id="nombre_contacto" formControlName="nombre_contacto"
                    placeholder="Nombre contacto" required>
                    <div *ngIf="formGroup.get('nombre_contacto').hasError('required') && formGroup.get('nombre_contacto').touched"
                    class="error">
                      *
                    </div>
                    <div
                    class="error"
                    *ngIf="formGroup.get('nombre_contacto').hasError('pattern') && formGroup.get('nombre_contacto').touched">
                      Letras
                    </div>
                  </div>

                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="telefono_uno" id="telefono_uno" formControlName="telefono_uno"
                    placeholder="Celular" required>
                    <div *ngIf="formGroup.get('telefono_uno').hasError('required') && formGroup.get('telefono_uno').touched"
                    class="error">
                      *
                    </div>
                    <div
                    class="error"
                    *ngIf="formGroup.get('telefono_uno').hasError('pattern') && formGroup.get('telefono_uno').touched">
                      Numeros
                    </div>
                    <div
                      class="error"
                      *ngIf="formGroup.get('telefono_uno').hasError('minlength') && formGroup.get('telefono_uno').touched">
                      Min 10 Numeros
                    </div>
                    <div
                      class="error"
                      *ngIf="formGroup.get('telefono_uno').hasError('maxlength') && formGroup.get('telefono_uno').touched">
                      Max 10 numeros
                    </div>
                  </div>

                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="telefono_dos" id="telefono_dos" formControlName="telefono_dos"
                    placeholder="Fijo">
                    <div
                    class="error"
                    *ngIf="formGroup.get('telefono_dos').hasError('pattern') && formGroup.get('telefono_dos').touched">
                      Numeros
                    </div>
                    <div
                      class="error"
                      *ngIf="formGroup.get('telefono_dos').hasError('minlength') && formGroup.get('telefono_dos').touched">
                      Min 7 Numeros
                    </div>
                    <div
                      class="error"
                      *ngIf="formGroup.get('telefono_dos').hasError('maxlength') && formGroup.get('telefono_dos').touched">
                      Max 7 numeros
                    </div>                    
                  </div>

                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="correo" id="correo" formControlName="correo"
                    placeholder="Correo" required>
                    <div *ngIf="formGroup.get('correo').hasError('required') && formGroup.get('correo').touched"
                    class="error">
                      *
                    </div>
                    <div
                    class="error"
                    *ngIf="formGroup.get('correo').hasError('pattern') && formGroup.get('correo').touched">
                      Email
                    </div>
                  </div>

                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="direccion" id="direccion" formControlName="direccion"
                    placeholder="Direccion" required>
                    <div *ngIf="formGroup.get('direccion').hasError('required') && formGroup.get('direccion').touched"
                    class="error">
                      *
                    </div>
                  </div>

                </div>
                <div class="col-md-6">

                    <div class="input-group mb-3">
                      <input type="text" class="form-control" name="ciudad" id="ciudad" formControlName="ciudad"
                      placeholder="Ciudad" required>
                      <div *ngIf="formGroup.get('ciudad').hasError('required') && formGroup.get('ciudad').touched"
                      class="error">
                        *
                      </div>
                      <div
                      class="error"
                      *ngIf="formGroup.get('ciudad').hasError('pattern') && formGroup.get('ciudad').touched">
                        letras
                      </div>
                    </div>

                    <div class="input-group mb-3">
                      <input type="text" class="form-control" name="departamento" id="departamento" formControlName="departamento"
                      placeholder="Departamento" required>
                      <div *ngIf="formGroup.get('departamento').hasError('required') && formGroup.get('departamento').touched"
                      class="error">
                        *
                      </div>
                      <div
                      class="error"
                      *ngIf="formGroup.get('departamento').hasError('pattern') && formGroup.get('departamento').touched">
                        letras
                      </div>
                    </div>

                    <div class="input-group mb-3">
                      <input type="text" class="form-control" name="observaciones" id="observaciones" formControlName="observaciones"
                      placeholder="Observaciones" required>
                      <div *ngIf="formGroup.get('observaciones').hasError('required') && formGroup.get('observaciones').touched"
                      class="error">
                        *
                      </div>
                      <div
                      class="error"
                      *ngIf="formGroup.get('observaciones').hasError('pattern') && formGroup.get('observaciones').touched">
                        letras
                      </div>
                    </div>

                    <div class="input-group mb-3">
                      <input type="text" class="form-control" name="referidor" id="referidor" formControlName="referidor"
                      placeholder="Nombre Referidor" required>
                      <div *ngIf="formGroup.get('referidor').hasError('required') && formGroup.get('referidor').touched"
                      class="error">
                        *
                      </div>
                      <div
                      class="error"
                      *ngIf="formGroup.get('referidor').hasError('pattern') && formGroup.get('referidor').touched">
                        letras
                      </div>
                    </div>                

                    <div class="input-group mb-3">
                      <input type="text" class="form-control" name="cedula" id="cedula" formControlName="cedula"
                      placeholder="Cedula Referidor" required>
                      <div *ngIf="formGroup.get('cedula').hasError('required') && formGroup.get('cedula').touched"
                      class="error">
                        *
                      </div>
                      <div
                      class="error"
                      *ngIf="formGroup.get('cedula').hasError('pattern') && formGroup.get('cedula').touched">
                        Numeros
                      </div>
                    </div>      

                    <div class="input-group mb-3">

                      <select  class="form-control" name="satelite_seccional" id="satelite_seccional" formControlName="satelite_seccional" required>
                        <option value='' disabled selected hidden>Fuente</option>
                        <option value='Unidad de retención'>Unidad de retención</option>
                        <option value='Unidad de Prospección'>Unidad de Prospección</option>
                        <option value='Seccional Bogota Norte'>Seccional Bogota Norte</option>
                        <option value='Feria- evento o Alianza'>Feria- evento o Alianza</option>
                        <option value='Seccional Armenia'>Seccional Armenia</option>
                        <option value='Seccional Barrancabermeja'>Seccional Barrancabermeja</option>
                        <option value='Seccional Barranquilla'>Seccional Barranquilla</option>
                        <option value='Seccional Bogota Norte'>Seccional Bogota Norte</option>
                        <option value='Seccional Bogota Sur'>Seccional Bogota Sur</option>
                        <option value='Seccional Bucaramanga'>Seccional Bucaramanga</option>
                        <option value='Seccional Cali'>Seccional Cali</option>
                        <option value='Seccional Cartagena'>Seccional Cartagena</option>
                        <option value='Seccional Cucuta'>Seccional Cucuta</option>
                        <option value='Seccional Girardot'>Seccional Girardot</option>
                        <option value='Seccional Ibague'>Seccional Ibague</option>
                        <option value='Seccional Manizales'>Seccional Manizales</option>
                        <option value='Seccional Medellin'>Seccional Medellin</option>
                        <option value='Seccional Monteria'>Seccional Monteria</option>
                        <option value='Seccional Neiva'>Seccional Neiva</option>
                        <option value='Seccional Pasto'>Seccional Pasto</option>
                        <option value='Seccional Pereira'>Seccional Pereira</option>
                        <option value='Seccional Popayan'>Seccional Popayan</option>
                        <option value='Seccional Santa Marta'>Seccional Santa Marta</option>
                        <option value='Seccional Sincelejo'>Seccional Sincelejo</option>
                        <option value='Seccional Tunja'>Seccional Tunja</option>
                        <option value='Seccional Valledupar'>Seccional Valledupar</option>
                        <option value='Seccional Villavicencio'>Seccional Villavicencio</option>
                        <option value='Seccional Yopa'>Seccional Yopa</option>
                      </select>
                      <div *ngIf="formGroup.get('satelite_seccional').hasError('required') && formGroup.get('satelite_seccional').touched"
                      class="error">*
                      </div>
                    </div>     

                    <div class="input-group mb-3">
                      <input type="text" class="form-control" name="telefono_referidor" id="telefono_referidor" formControlName="telefono_referidor"
                      placeholder="Telefono Referidor" required>
                      <div *ngIf="formGroup.get('telefono_referidor').hasError('required') && formGroup.get('telefono_referidor').touched"
                      class="error">
                        *
                      </div>
                      <div
                      class="error"
                      *ngIf="formGroup.get('telefono_referidor').hasError('pattern') && formGroup.get('telefono_referidor').touched">
                        Numeros
                      </div>
                      <div
                        class="error"
                        *ngIf="formGroup.get('telefono_referidor').hasError('minlength') && formGroup.get('telefono_referidor').touched">
                        Min 7 Numeros
                      </div>
                      <div
                        class="error"
                        *ngIf="formGroup.get('telefono_referidor').hasError('maxlength') && formGroup.get('telefono_referidor').touched">
                        Max 10 numeros
                      </div>                        
                    </div>   
        
                </div>

                <div class="form-group text-center">
                  <button id="btn-save" type="submit" class="btn llamar">¡Registrar!</button>
                </div>
              
            </div>
          </div>
        </form>

        <!-- Logo campaña -->
        <div class="col-md-4 info-adicional">
          <div class="row h-100 justify-content-center align-items-center">

            <div class="col-md-12">
              <img src="assets/images/slogan.png" class="slogan">
              <p>
                Tener en cuenta que se comunicará un asesor del área exclusiva de ventas.
              </p>
              <ul>
                <li> <b>Ingrese el NIT sin digito de verificacion.</b></li>
                <li> Diliegencie toda la informacion del formulario de inscripcion.</li>
                <li> Una vez diligenciada la informacion ingresara en nuestro sistema para ser atendida por un asesor.</li>
              </ul>
            </div>
          </div>


        </div>

      </div>

    </div>

  </main>

  <footer>
    <!--<div class="container">
      <div class="row align-items-center justify-content-center ">
        <div class="col-md-10 col-lg-10">
          <div class="row row-footer">
            <div class="col-md-6 col-xs-6 columnas-footer text-center">
              <div class="atencion">
                <p class="info">
                  Horario línea de <b>ventas</b>:<br>
                  <strong>Lunes a Viernes</strong> <span>07:00 a.m a 08:00 p.m.</span><br>
                  <strong>Sábados</strong> <span>08:00 a.m a 08:00 p.m.</span>
                </p>
              </div>
            </div>
            <div class="col-md-6 col-xs-6 text-center">

            </div>
          </div>

        </div>
      </div>
    </div>-->
    <div class="container-fluid">
      <div class="row legal">
        <div class="col-md-12">
          <p class="text-center">
            Todos los derechos reservados 2021 <br>
            Privacidad Legal y Regulatorio
          </p>
        </div>
      </div>
    </div>
  </footer>
</section>

<router-outlet></router-outlet>

