section{
  font-family: 'Roboto', sans-serif;
  /*background: url('../assets/images/background.jpg');*/
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}

main{
  height: calc(100vh - 125px);
}

.error{
  font-size: 0.8em;
  color: rgb(255, 0, 0);
}

.row-titulo{
  padding: 25px 0;
  flex-direction: row;
}

.titulo{
  font-weight: 300;
  font-size: 1.8em;
  text-align: left;
  color: #161b8c;
  font-weight: 500;
}

.internet{
  width: 200px;
}

.slogan{
  width: 100%;
  display: block;
  margin: 0 auto;
}

button.llamar{
  color:#161b8c;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: 60red0;
  font-size: 2em;
  margin: 20px 0;
  position: relative;
  transition: .4s ease-in-out;
  cursor: pointer;
  background: rgba(255,255,255,.8);
  font-weight: 800
}

button.llamar:hover{
  background: #161b8c;
  color: white;
  padding: 10px 30px;
}


label{
  font-weight: 300;
  font-size: 1.3em;
  color: white;
}

/*Campos*/

input[type="text"]{
  background: white;
  color: #161b8c;
  border-radius: 0;
  border: none;
  font-size: 0.9em;
  font-weight: 300;
  transition: .5s ease-in-out;
}

input[type="text"]::placeholder{
  font-size: 0.9em;
  font-weight: 300;
  color:#161b8c;
  transition: .5s ease-in-out;
}

input[type="text"]:focus{
  background: #161b8c;
  outline: 0;
  box-shadow: 1px 1px 3px 3px rgba(0,0,0,.1);
  font-size: 0.9em;
  font-weight: 300;
  color: white;
  padding: 30px 10px;
}

input[type="text"]:focus::placeholder{
  padding-left: 10px;
}


select{
  background: white;
  color: #161b8c;
  border-radius: 0;
  border: none;
  font-size: 0.9em;
  font-weight: 300;
  transition: .5s ease-in-out;
}

select:focus{
  background: #161b8c;
  outline: 0;
  box-shadow: 1px 1px 3px 3px rgba(0,0,0,.1);
  font-size: 0.9em;
  font-weight: 300;
  color: white;
  padding: 30px 10px;
}


/*Fin Campos*/

.info{
  font-weight: 300;
  color: white;
  font-size: .8em;
  margin-bottom: 0;
}


/* Footer */
footer{
  background:#161b8c;
  padding: 0 !important;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.row-footer{
  padding-top: 10px;
  padding-bottom: 17px;
}

footer p{
  margin: 0;
  color:white;
}


.atencion p{
  color: white;
  font-size: .8em;
  font-weight: 300;
  line-height: 25px;
  position: relative;
  width: 50%;
  position: relative;
  float: right;
  text-align: left;
}

.atencion p:before{
  content: '';
  height: 90px;
  width: 90px;
  position: absolute;
  left: -100px;
  top: 50%;
  transform: translateY(-50%);
  background: url('../assets/images/headphones.svg');
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.atencion strong{
  font-weight: 700;
}

.atencion span{
  padding: 2px;
  color:white;
  background: rgb(255, 0, 0);
  font-weight: 700

}

.atencion-cliente{
  width: 30px;
}

.logo{
  width: 150px;
}

.legal{
  font-size: .8em;
  padding: 10px 0;
  background: #161b8c;
}

.legal p{
  color:white !important;
}

.info-adicional{
  position: relative;
  top: -50px;
}

.info-adicional p{
  color: blue;
  font-size: 1em;
}

.info-adicional ul li{
  color: blue;
  font-size: 1em;
  font-weight: 300;
}



@media (max-width: 1380px){
  footer{
    padding: 10px 0;
  }
  .internet{
    width: 80px;
  }
  .atencion p{
    font-size: 0.6em;
  }
  button.llamar{
    font-size: 1.2em;
  }
  .atencion-cliente{
    width: 30px;
  }
  .atencion p:before{
    height: 70px;
    width: 70px;
  }
  .slogan{
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}

@media (max-width:996px){
  button.llamar{
    font-size: 1em;
  }
  body{
    font-family: 'Roboto', sans-serif;
    background: url('../assets/images/background-responsive.jpg');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
  }

}

@media (max-width: 768px) {
  .atencion p{
    height: 70px;
    width: 70px;
  }
  .logo{
    margin: 0 auto;
    display: block;
  }

  .internet{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  body{
    font-family: 'Roboto', sans-serif;
    background: url('../assets/images/background-responsive.jpg');
    background-size: 100%;
    background-position: top left;
    background-repeat: no-repeat;
  }
  .row-titulo{
    flex-direction: column-reverse;
  }
}

@media (max-width: 600px) {
  .row-titulo{
    flex-direction: column-reverse;
  }

  main{
    height: auto;
    padding: 30px;
  }

  footer{
    position: relative;
  }

  .logo{
    margin: 0px auto;
    margin-bottom: 30px;
    display: block;
  }

  .row-footer{
    flex-direction: column-reverse;
  }



  button.llamar{
    font-size: 1.3em;
  }

  button.llamar:after{
    width: 30px;
    height: 60px;
    right:-40px;
  }
  button.llamar:before{
    width: 30px;
    height: 60px;
    left:-40px;
  }

  .atencion p{
    float: inherit;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 5px;
    width: 100%;
  }

}
